:root {
    --bg-color: #af6d99;
    --text-color: #171616;
    --card-bg: #deb4d4;
    --accent-color: #3b1b33;
  }
  
  [data-theme="dark"] {
    --bg-color: #563d51;
    --text-color: #0e0d0e;
    --card-bg: #83597e;
    --accent-color: #a36d92;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    line-height: 1.6;
    background: rgb(200, 167, 193);
    color: black;
  }
  
  header {
    background: url('header4.jpg') no-repeat center center/cover;
    height: 100vh;
    color: rgb(81, 16, 59);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
  }
  
  header h1 {
    font-size: 102px;
    margin: 0;
  }
  
  header h3 {
    margin: 1rem 0;
    font-size: 24px;
  }
  
  header a {
    background: var(--accent-color);
    color: rgb(184, 174, 179);
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 34px;
  }
  
  header a:hover {
    background: #2d0f26;
  }
  
  .grid{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;

  }

  .column{
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  }

 .port{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
 }
  


 
  
  footer {
    background: #4d2c41;
    color: rgb(165, 123, 151);
    text-align: center;
    padding: 1.5rem;
  }


  #contact{
    max-width: 1200px;
    margin: 0px auto;
    padding: 2rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  }
  
  .contact-form input, .contact-form textarea {
    width: 90%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #c494af;
    border-radius: 5px;
    background-color: rgb(195, 161, 177);
  }
  
  .contact-form button {
    background: var(--accent-color);
    color: rgb(199, 131, 164);
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
    margin-top: 1rem;
    display: none;
    color: rgb(183, 157, 172);
  }
  
  .theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: rgb(199, 131, 164);
    color: rgb(210, 142, 178);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
  }
  
  @media (max-width: 600px) {
    header h1 {
      font-size: 2rem;
    }
  
    header p {
      font-size: 1rem;
    }
  }
  
